.ourOffice {
  p {
    &.country {
      color: rgba(102, 102, 102, 0.67);
      font-size: 19px;
      border-bottom: 1px solid #777;
    }
  }
}

.contactForm {
  padding-bottom: 15px;
  h4 {
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
    background: rgba(197, 197, 197, 0.5);
    color: rgba(111, 111, 111, 0.3);
    cursor: pointer;
    font-weight: 400;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: left 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    &.active,
    &:hover {
      color: #E6E6E6;
      background: #989898;
    }
  }
}

.form {
  input {
    border-radius: 0;
    padding: 10px;
    line-height: 20px;
    height: 50px;
    font-size: 17px;
    font-weight: 300;
    border: none;
  }
}
