.root {
  background: rgba(109, 110, 113, 0.68);
  display: block;
  position: relative;
  /* margin-top: 82px; */
  height: 100%;
  text-align: center;
  padding: 20vh 0;
  color: #fff;
  // height: 105vh;
}
.bg {
  background-size: cover !important;
  background-attachment: fixed !important;
  // height: 75vh;
}
.subr {
  background: #525252;
  border: none;
  border-radius: 0;
  height: 100%;
  margin-right: -6px;
  line-height: 25px;
  text-transform: uppercase;
  padding: 10px;
  input {
    width: 80%;
    height: 40px;
    padding: 10px;
    color: #444;
    display: inline-block;
    min-width: 300px;
  }
  a {
    /* right: 0vh; */
    /* margin-top: 5px; */
    background: #525252;
    border: none;
    border-radius: 0;
    height: 100%;
    margin-right: -6px;
    line-height: 25px;
    padding: 10px;
    text-transform: uppercase;
  }
}
h1 {
  font-weight: 300;
  font-size: 3em;
  letter-spacing: 10px;
}
h4 {
  margin-top: 2em;
}
.downloadProfile {
  text-align: center;
  margin: 20px 0;
  h4 {
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 300;
  }
  .btnDownload {
    background: #eee;
    padding: 10px;
    /* min-width: 139px; */
    color: #666;
    width: 100%;
    display: block;
    margin: 10px 0 0;
    min-height: 60px;
    &:hover {
      background: #525252;
      color: #fff;
    }
    &:hover + .optionProfile {
      display: block;
    }
  }
  .optionProfile {
    background: #fff;
    // display: none;
    li {
      padding: 10px;
      border-bottom: 1px solid #ddd;
      cursor: pointer;
      &.active {
        background: #EEE;
      }
    }
  }
}
.viewOnline {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 999;
  .close {
    position: absolute;
    top: -2em;
    right: 0;
    a {
      padding: 10px 30px;
      background: #979797;
      color: #fff;
      cursor: pointer;
    }
  }
  iframe {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    // height: 105vh;
    &:global(.controls) {
      position: absolute;
    }
  }
}
