.root {
  margin: 30px 0;
}

img, span, div {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: left 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.sectorsItem {
  margin-bottom: 30px;
  position: relative;
  display: inline-block;
  overflow: hidden;

  &:hover {
    img {
      transform:scale(1.1);
      -ms-transform:scale(1.1); /* IE 9 */
      -moz-transform:scale(1.1); /* Firefox */
      -webkit-transform:scale(1.1); /* Safari and Chrome */
      -o-transform:scale(1.1); /* Opera */
    }
  }

  img {
    width: 100%;
    height: 270px;
  }
  span {
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    padding: 5px 0;
    left: 0;
    height: 100%;
    padding: 10px;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
      background: rgba(0, 0, 0, 0.6);
    }
    h3 {
      color: #FFFFFF;
      font-size: 1.5em;
      bottom: 0;
      position: absolute;
      left: 0;
      padding: 10px;
      font-weight: 300;
      margin-bottom: 10px;
    }
  }
}
