.root {
  margin: 30px 0;
}

img, span {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: left 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.newsItem {
  margin-bottom: 30px;
  position: relative;
  cursor: pointer;
  img {
    width: 100%;
    height: 270px;
  }
  &:hover {
    & span {
      max-height: 200px;
    }
  }
  span {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.42);
    color: #FFFFFF;
    font-size: 1.2em;
    text-align: center;
    width: 100%;
    padding: 5px 0;
    font-weight: 500;
    left: 0;
    max-height: 55px;
    overflow: hidden;
  }
}
