.root {
  min-height: 55px;
  position: relative;
  .rTab {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background: #9D9D9D;
    padding: 0 20px;

    .tabMenu {
      text-align: right;
      // margin: 20px;
      > li {
        // margin-bottom: 40px;
        a {
          letter-spacing: 1px;
          padding: 10px 20px;
          border: 1px solid #fff;
          cursor: pointer;
          text-transform: uppercase;
          font-size: 13px;
          font-weight: 500;
          display: inline-block;
          color: #fff;
        }
        &:hover,
        &.active {
          & a {
            color: #fff;
            background: #666;
          }
        }
      }
    }
  }
}
