.root {}

.headerBar {
  background: #fff;
  .logo {
    height: 90px;
    /* display: -webkit-box; */
    display: flex;
    align-items: center;
    img {
      height: 90px;
      padding: 10px;
    }
  }
  .menu {
    float: right;
    padding-top: 10px;
    margin: 0;
    li {
      padding: 5px 20px;
      cursor: pointer;
      &.active,
      &:hover {
        &:not(:last-child) {
          border-bottom: 2px solid #ddd;
        }
      }
      a,
      span {
        cursor: pointer;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 1px;
        color: #000;
        opacity: 0.5;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        max-width: 100%;
        white-space: normal;
        border-bottom: 2px solid #fff;
      }
    }
  }
  .submenu {
    z-index: 99999;
    margin: 0;
    padding: 0;
    background: #9D9D9D;
    margin-right: -1.5%;
    margin-left: 10%;
    margin-bottom: -1px;
    >li {
      padding: 10px 30px 10px 20px;
      cursor: pointer;
      position: relative;
      font-size: 15px;
      // font-weight: 600;
      color: #fff;
      cursor: pointer;
      a {
        cursor: pointer;
        color: #fff;
      }
      &:hover {
        /* background: #eee; */
        & ul {
          opacity: 1;
          z-index: 9999;
          display: block;
        }
      }
      > ul {
        background: #eee;
        /* margin-right: 10px; */
        min-width: 100%;
        list-style: none;
        padding: 0;
        z-index: 0;
        top: 40px;
        position: absolute;
        opacity: 0;
        left: 0;
        display: none;
        > li {
          a {
            color: #000;
            font-weight: 300;
            padding: 10px 20px;
            width: 100%;
            display: block;
            cursor: pointer;
          }
          &:hover {
            background: #ddd;
          }
        }
      }
    }
  }
}
.sideBarMenu {
  float: right;
  padding: 10px;
  .btn {
    border: 1px solid #ddd;
    padding: 10px 20px;
    i {
      font-size: 25px;
    }
  }
}
.mark {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 98;
  width: 100vw;
  height: 100vh;
}

.chooseLang {
  position: fixed;
  /* left: 0; */
  top: 0;
  /* height: 100vh; */
  /* width: 100vw; */
  z-index: 99;
  display: -webkit-flex;
  display: -ms-flexbox;
  /* display: block; */
  /* -webkit-align-items: center; */
  -ms-flex-align: center;
  /* align-items: center; */
  /* -webkit-justify-content: center; */
  -ms-flex-pack: center;
  /* justify-content: center; */
  top: 100px;
  display: none;
  opacity: 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transform: translate3d(0, 10px, 0);
  -webkit-transform: translate3d(0, 10px, 0);
  -moz-transform: translate3d(0, 10px, 0);
  &.active {
    display: block;
    opacity: 1;
  }
  /* left: 10vw; */
  .lang {
    min-height: 300px;
    background: #fff;
    width: 350px;
    ul {
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      transform: translate3d(0, 10px, 0);
      -webkit-transform: translate3d(0, 10px, 0);
      -moz-transform: translate3d(0, 10px, 0);
      li {
        &.content {
          cursor: pointer;
          p {
            padding: 0 20px;
          }
          .region {
            font-size: 3.5rem;
            color: #ddd;
            text-transform: uppercase;
            letter-spacing: 5px;
          }
          .div {
            display: inline-block;
            background: #ddd;
            padding: 15px;
            cursor: pointer;
            a {
              cursor: pointer;
              color: #666;
            }
            &:hover {
              cursor: pointer;
              background: #989898;
              a {
                color: #fff;
              }
            }
            .langName {
              img {
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
  }
}
