.root {
  background: rgba(0, 0, 0, 0.7);
  display: block;
  position: relative;
  /* margin-top: 82px; */
  height: 100%;
  text-align: center;
  // padding: 20vh 0;
  color: #fff;
}

.intro {
  position: fixed;
  top: 0;
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  background: #fff;
  .close {
    position: absolute;
    right: 0;
    margin: 20px;
    z-index: 99999;
  }
  .bg {
    height: 100vh;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: 10px !important;
  }
  .logo {
    margin: 50px auto;
  }
}

.subr {
  background: #525252;
  border: none;
  border-radius: 0;
  height: 100%;
  margin-right: -6px;
  line-height: 25px;
  text-transform: uppercase;
  padding: 10px;
  input {
    width: 80%;
    height: 40px;
    padding: 10px;
    color: #444;
    display: inline-block;
    min-width: 300px;
  }
  a {
    /* right: 0vh; */
    /* margin-top: 5px; */
    background: #525252;
    border: none;
    border-radius: 0;
    height: 100%;
    margin-right: -6px;
    line-height: 25px;
    padding: 10px;
    text-transform: uppercase;
  }
}

h1 {
  font-weight: 300;
  font-size: 3em;
  letter-spacing: 10px;
}

h4 {
  margin-top: 2em;
}

.downloadProfile {
  text-align: center;
  margin: 20px 0;
  .btnDownload {
    background: #eee;
    padding: 10px;
    /* min-width: 139px; */
    color: #666;
    width: 100%;
    display: block;
    margin: 10px 0;
    &:hover {
      background: #525252;
      color: #fff;
    }
  }
}

.lang {
  min-height: 300px;
  /* background: #fff; */
  width: 350px;
  margin: auto;
  ul {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transform: translate3d(0, 10px, 0);
    -webkit-transform: translate3d(0, 10px, 0);
    -moz-transform: translate3d(0, 10px, 0);
    li {
      &.content {
        p {
          padding: 0 20px;
        }
        .region {
          font-size: 3.5rem;
          color: #ddd;
          text-transform: uppercase;
          letter-spacing: 5px;
        }
        .div {
          display: inline-block;
          background: #989898;
          padding: 15px;
          cursor: pointer;
          a {
            color: #fff;
            cursor: pointer;
          }
          &:hover {
            background: #323232;
            a {
              color: #fff;
              cursor: pointer;
            }
          }
          .langName {
            img {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}
