.root {
  margin: 30px 0;
}

img, span {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: left 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.servicesItem {
  margin-bottom: 30px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  &:hover {
    img {
      transform:scale(1.1);
      -ms-transform:scale(1.1); /* IE 9 */
      -moz-transform:scale(1.1); /* Firefox */
      -webkit-transform:scale(1.1); /* Safari and Chrome */
      -o-transform:scale(1.1); /* Opera */
    }
  }
  img {
    width: 100%;
    height: 250px;
  }
  .title {
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    left: 0;
    height: 100%;
    padding: 10px;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
    span {
      color: #FFFFFF;
      font-size: 1.5em;
      text-align: center;
      width: 100%;
      padding: 5px 30px;
      font-weight: 300;
      line-height: 2;
      letter-spacing: 5px;
      position: absolute;
      top: 25%;
    }

    &:hover {
      background: rgba(0, 0, 0, 0.6);
    }
  }
}
