.root {
  margin: 30px 0;
}

img, span, a {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: left 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.textItem {
  margin-bottom: 30px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  min-height: 30vh;
  border: 1px solid #333;
  &:hover {
    img {
      transform:scale(1.1);
      -ms-transform:scale(1.1); /* IE 9 */
      -moz-transform:scale(1.1); /* Firefox */
      -webkit-transform:scale(1.1); /* Safari and Chrome */
      -o-transform:scale(1.1); /* Opera */
    }
  }
  img {
    width: 100%;
    height: 270px;
  }
  a {
    position: absolute;
    top: 0;
    /* background: rgba(0, 0, 0, 0.3); */
    color: #666;
    font-size: 1.5em;
    text-align: left;
    width: 100%;
    font-weight: 300;
    left: 0;
    height: 100%;
    padding: 30px;
    line-height: 10;
    /* text-transform: uppercase; */
    cursor: pointer;
    p {
      overflow: hidden;
      height: 100%;
      /* position: absolute; */
      line-height: 1.5;
      font-size: 0.8em;
    }

    h3 {
      margin-top: 0;
    }
    &:hover {
      background: rgba(0, 0, 0, 0.6);
      color: #fff;
    }
  }
}
