.root {}

.footerBar {
  background: #fff;
  padding: 20px 0;
  .logo {
    height: 90px;
    padding: 10px;
  }
  .menu {
    float: right;
    margin: 0;
    text-align: right;
    padding: 10px 0;
    li {
      padding: 5px 20px;
      margin: 10px 0;
      a {
        color: #777;
      }
      img {
        width: 40px;
      }
    }
  }
}
